.city-row{
    display: flex;
   
    border: 2px solid rgb(210, 173, 173);
    padding: 5px 20px;
    margin: 20px;
    border-radius: 18px;
    background-color: #ffffff;
    color: black;
    font-weight: bold;
     box-shadow: 0 2px 6px rgba(0, 0, 0, 0.08);
     justify-content: space-between;
     align-items: center;
     text-decoration: none;list-style: none;
    
     
}.city-date {
  font-size: 13px;
  color: #382f2f;
}
.city-right {
  display: flex;
  align-items: center;
  gap: 10px; /* ⭐ date & × ke beech space */
}.city-remove {
  font-size: 18px;
  border: none;
  font-weight: bold;
  cursor: pointer;
  background-color: #ffffff;
  color: #e74c3c;
}.city-remove:hover {
  transform: scale(1.2);
  color: red;
}

.city-row-li {
    list-style: none;
    
    
     
}