.city-row-li {
  list-style: none;
  margin: 20px;
}

/* ⭐ Link ko card banao */
.city-row,
.city-row-li a {
  display: flex;
  justify-content: space-between;
  align-items: center;

  border: 2px solid rgb(210, 173, 173);
  padding: 10px 20px;
  border-radius: 18px;
  background-color: #ffffff;
  color: black;
  font-weight: bold;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.08);

  text-decoration: none;
}


/* ✅ Active city */
.cityItem-active a {
  border-color: #2ecc71;
  background-color: #eafaf1;
}

/* Right side */
.city-right {
  display: flex;
  align-items: center;
  gap: 10px;
}

.city-date {
  font-size: 13px;
  color: #382f2f;
}

.city-remove {
  font-size: 18px;
  border: none;
  font-weight: bold;
  cursor: pointer;
  background: none;
  color: #e74c3c;
}

.city-remove:hover {
  transform: scale(1.2);
}
