.sidebar {
    display: flex;
    width: 30%;
    height: 100vh;
    background-color: rgb(78, 74, 81);
    color: white;
    flex-direction: column;

    padding: 1.5rem;
  z-index: 1000;
  
  overflow-x: hidden;


}
.sidebar-header {
  margin-bottom: 2rem;
   padding-bottom: 0.5rem;
  border-bottom: 1px solid #e5e7eb;
}
.sidebar-content {
  flex: 1;
  font-size: 1rem;
  opacity: 0.9;
}
.sidebar-footer {
  font-size: 0.85rem;
  opacity: 0.6;
  text-align: center;
  border-top: 1px solid rgba(255, 255, 255, 0.351);
  padding-top: 1rem;
}
