/* ===== Global Reset ===== */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  
}

/* ===== Body styling ===== */
body {
  font-family: Arial, Helvetica, sans-serif;
  line-height: 1.5;
  background-color: #414d5159;
  color: #333;
}

.page {
  margin-top: 80px;   /* navbar height */
  padding: 1.5rem;
}

